.cityCardContainer {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  color: #000000;
  margin: 20px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 300px;
  z-index: 1;
  border-top: 2rem solid rgb(6, 120, 16);
}

.cityCardContainer:hover {
  background-color: #77e8d0;
  color: #222e2a;
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  /* border-top: #0b1a36 1rem; */
}

.cityCardContainer:hover img{
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
}



.cityCardContainer:before {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  border-radius: 10px;
  bottom: -100%;
  content: "";
  left: -100%;
  position: absolute;
  right: -100%;
  top: -100%;
  transition: all 0.3s ease-in-out;
  z-index: -1;
}

.cityCardContainer:hover:before {
  bottom: -50%;
  left: -50%;
  right: -50%;
  top: -50%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.cityCardContainer h3 {
  font-size: 28px;
  margin: 20px 0;
  border-bottom:0.2rem solid rgb(12, 112, 149);
}

.cityCardContainer p {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  background-color:rgba(103, 197, 232, 0.712);
  border-radius: 1rem;
}

.cityCardContainer p:last-child {
  margin-bottom: 0;
}

.cityCardContainer>p>span{
  display: inline-block;
  width: 5rem;
  text-align: center;
  padding: 0.375rem 0.75rem;
  border-radius: 1rem;
  background-color: #14e069a8;
  color: #212923;
  font-size: 0.8rem;
  border-left: 0.5rem solid rgb(12, 112, 149);
  border-right: 0.5rem solid rgb(12, 112, 149);
  border-top: 0.1rem solid rgb(12, 112, 149);
  border-bottom: 0.1rem solid rgb(12, 112, 149);
}
.detailsCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  max-width: 500px;
  width: 100%;
  height: 100%;
}

.detailsCard p {
text-align: left;
margin: 1rem;
}

.detailsCard h3 {
  text-align: center;
  margin: 1rem 2rem;
  }


.detailsCard p span {
  display: inline-block;
  width: 5rem;
  text-align: center;
  padding: 0.375rem 0.75rem;
  border-radius: 1rem;
  background-color: #14e069a8;
  color: #212923;
  font-size: 0.8rem;
  border-left: 0.5rem solid rgb(12, 112, 149);
  border-right: 0.5rem solid rgb(12, 112, 149);
  border-top: 0.1rem solid rgb(12, 112, 149);
  border-bottom: 0.1rem solid rgb(12, 112, 149);
}


